

// div {
//   border: 2px solid black;
// 
.container {
  // height: 221px;
  height: 182px;
  width: 600px;
  // border: 1px  solid #555555;
  // border-bottom: none;
  vertical-align: center;
  margin: 100px 200px;
  // margin: 0;
  padding:0;
  // min-height: 56px;
  // position: absolute;

}


h4{
  background-color: #6F87B7;
  height: 40px;
  border: 1px  solid #82BCFF;
  // border-bottom: none;
  margin: 0;
  text-align: center;
  // from class review:
  cursor: pointer;
  
 &.button{
  height: 43px;
 }
}

.text{
  overflow: hidden;
  padding: 0;
  margin: 0;
  max-height:182px;
  min-height: 56px;
  border: 1px  solid #6F87B7;
  // min-height: 56px;
  // border-bottom: 1px solid black;
  // min-height:210px;
  // transition: height 2s, linear 1s;
  // transition: height 2s, transform 2s;
  // transition-property: height;
  transition: height 3s ease;


}

.closeText{
  overflow: hidden;
  margin: 0;
  padding:0;
  height: 0px;
  // min-height: 56px;
  // max-height: 182px;
  // transition: height 2s, linear 1s;

}

.slide{
  transition: all 3s ease;
  // max-height: 182px;
  // min-height: 56px;
}

